<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777381198786-m57ljvvaef2pup5tc5g94k982i8ucqi6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777381198786-m57ljvvaef2pup5tc5g94k982i8ucqi6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>777381198786-aouhfmpbjun90tf6d36kph1o03f71ml1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjnTRoOyrZqGLolk5IstRWAEyQkg4ctr8</string>
	<key>GCM_SENDER_ID</key>
	<string>777381198786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arrows.ammancorner</string>
	<key>PROJECT_ID</key>
	<string>amman-corner</string>
	<key>STORAGE_BUCKET</key>
	<string>amman-corner.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777381198786:ios:a3cf36599bf3d185a7b45b</string>
	<key>DATABASE_URL</key>
	<string>https://amman-corner-default-rtdb.firebaseio.com</string>
</dict>
</plist>